//------------------Main---------------------
.main {
  width: 50%;
  text-align: center;
  h3 {
    margin-top: 3rem;
  }
  label {
    text-align: left;
  }
  input[type="text"] {
    background-color: #cae1f7;
    border-radius: 1.4rem;
    padding: 0.6rem 0.6rem 0.6rem 1rem;
  }
  input[inputmode="numeric"] {
    width: 15%;
  }
  input[type="submit"] {
    padding: 1rem 1.6rem;
    cursor: pointer;
    background-color: #acc3d6;
    border-radius: 1.4rem;
  }
  &__textAlign {
    display: flex;
    column-gap: 2rem;
    margin-top: 4rem;
    align-items: center;
    &__radios {
      display: flex;
      column-gap: 1rem;
      margin-left: 1.6rem;
      div {
        display: flex;
        column-gap: 1rem;
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 4rem;
    max-height: 31.2rem;
    align-content: space-between;
    &__item {
      display: flex;
      margin: 1rem 0;
      align-items: center;
      justify-content: space-between;
      width: 45%;
    }
  }
  &__layoutText {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-between;
    &__sizeText {
      display: flex;
      column-gap: 3.8rem;
      margin: 1rem 0;
      align-items: center;
      width: 45%;
    }
    &__colorText {
      display: flex;
      column-gap: 2.2rem;
      margin: 1rem 0;
      align-items: center;
      width: 45%;
    }
  }
  &__submit {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
//------------------Article---------------------
